<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>
    <h1>CRUD PERFUMES</h1>
    <a href="/">Ir a Home</a>
    <br><hr>
    <a href="/about">Ir a About</a>
    <br><hr>
    <center>
        <a href="/insert_create">Insertar productos</a>
        <br><hr>
        <a href="/select_read">Obtener productos</a>
        <br><hr>
        <a href="/update">Actualizar productos</a>
        <br><hr>
        <a href="/delete">Eliminar productos</a>
    </center>
</body>
</html>