<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda de Perfumes</title>
</head>
<body>
    <h1>Tienda de Perfumes Alternativos</h1>
    <a href="/">Ir a Home</a>
    <br><hr>
    <a href="/about">Ir a About</a>
    <br><hr>
    <a href="/CRUD">Ir a CRUD</a>
    <br><hr>
</body>
</html>